name: example_flutter
description: An example project for flutter-desktop-embedding.

environment:
  sdk: '>=2.0.0 <3.0.0'
  # The testbed interacts with build scripts on the Flutter side that are not
  # yet stable, so it requires a very recent version of Flutter.
  # This version will increase regularly as the build scripts change.
  flutter: '>=1.9.8-pre.31'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.0

  # Desktop embedder plugins.
  # Note: In an actual project, these paths would include the
  # path from your application to the flutter_desktop_embedding
  # checkout.
  color_panel:
    path: ../plugins/color_panel
  example_plugin:
    path: ../plugins/example_plugin
  file_chooser:
    path: ../plugins/file_chooser
  menubar:
    path: ../plugins/menubar
  window_size:
    path: ../plugins/window_size
  # Plugins from flutter/plugins, with local desktop implementations.
  path_provider: ^1.2.0
  path_provider_fde:
    path: ../plugins/flutter_plugins/path_provider_fde
  shared_preferences: ^0.5.3
  shared_preferences_fde:
    path: ../plugins/flutter_plugins/shared_preferences_fde
  url_launcher: ^5.0.0
  url_launcher_fde:
    path: ../plugins/flutter_plugins/url_launcher_fde

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: fonts/Roboto/Roboto-Black.ttf
          weight: 900
